.welcome-section {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: all;
  transition-delay: 500ms;
  transition-duration: 500ms;
}

.message-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.translate-up {
  transform: translateY(-100%);
}

.message-container h1 {
  font-family: 'Manrope', sans-serif;  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem /* 48px */;
  line-height: 1;
}

@media (min-width: 768px) {
  .message-container h1 {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }
}
