.menu-button-main-container {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 2.5rem /* 40px */;
  z-index: 40;
}

.menu-button-container {
  position: relative;
  display: flex;
  width: 4rem /* 64px */;
  height: 4rem /* 64px */;
  padding: 0.5rem /* 8px */;
  border-radius: 35px;
  background-color: rgb(24 24 26);
  border: 2px solid;
  border-color: rgb(0 0 0);
}

.menu-button-svg-container {
  position: absolute;
  top: 1.25rem /* 20px */;
  left: 1rem /* 16px */;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem /* 28px */;
  height: 1.25rem /* 20px */;
}

/* Media query para tamaños de pantalla medianos (ejemplo: tabletas) */
@media (min-width: 768px) {
  .menu-button-main-container {
    top: 2.5rem /* 40px */;
    left: 2.5rem /* 40px */;
  }
}
