.slider-text-container {
  display: flex;
  position: absolute;
  top: 65vh;
  left: 0px;
  width: 100%;
  /* overflow-x: scroll; */
}

.slider-track {
  position: relative;
  display: flex;
  white-space: nowrap;
}

.slider-text-container h1 {
  font-family: "Manrope", sans-serif;
  color: rgb(255 255 255);
  font-size: 160px;
  letter-spacing: 0.04em;
  font-weight: 600;
}

.slider-text-container h1:last-child {
  position: absolute;
  top: 0;
  left: 100%;
}

/* Media query para tamaños de pantalla medianos (ejemplo: tabletas) */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .slider-text-container {
    top: 75vh;
  }
  .slider-text-container h1 {
    font-size: 170px;
  }
  .slider-text-container h1:last-child {
    position: absolute;
    color: red;
    left: 100%;
  }
} */

/* Media query para tamaños de pantalla grandes (ejemplo: pantallas de escritorio)
@media (min-width: 1024px) {
  .slider-text-container h1 {
    font-size: 17px;
    letter-spacing: 0.05em;
  }

  .slider-text-container h1:last-child {
    position: absolute;
    color: red;
    left: 50%;
  }
} */
